
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
<nav id="menu">
  <div class="container">
    <div class="trigger">
      <ul>
        <li><a th:href="@{/login}">HOME</a></li>
        <li><a th:href="@{/products}">NEW COLLECTION</a></li>
        <li><a th:href="@{/products}">ABOUT US</a></li>
        <li><a th:href="@{/products}">NEWS                                  </a></li>
        <li><a th:href="@{/products}">           CARD</a></li>
        <li><a th:href="@{/products}">ACCOUNT</a></li>
        <li><a th:href="@{/logout}">LOGOUT</a></li>

      </ul>
    </div>
  </div>
</nav>


  <h2 th:if="${#lists.isEmpty(products)}">No products yet!</h2>
  <div th:if="${not #lists.isEmpty(products)}">
    <div class="contain" style="width: 17rem;" >
        <div class="card shadow-sm" style="width=50px;">
          <tr th:each="product : ${products}">
          <img class="bd-placeholder-img card-img-top" width="100px" height="270" src="${product.image}"> </td> </img>
          <div class="card-body">
            <p class="card-text"> <td th:text="${product.name}"></td> </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">ADD</button>
                </div>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a th:href="@{/edit/{id}(id=${product.id})}">Edit</a></button>
                </div>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a th:href="@{/delete/{id}(id=${product.id})}">Delete</a></button>
              </div>
              <small class="text-muted"><td th:text="${product.price}"></td></small>
            </div>
          </div>
          </tr>
        </div>
      </div>

  </div>

<div class="btn">
  <p><a th:href="@{/addnewproduct}">Add a new product</a></p>
</div>




















<!--<header>th:insert="header :: header"</header>-->
<!--<div>-->
<!--  <h2 th:if="${#lists.isEmpty(products)}">No products yet!</h2>-->
<!--  <div th:if="${not #lists.isEmpty(products)}">-->
<!--    <h2>products</h2>-->
<!--    <table>-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>|ID|</th>-->
<!--        <th>Name|</th>-->
<!--        <th>Price|</th>-->
<!--        <th>Image|</th>-->
<!--        <th>Category|</th>-->
<!--        <th></th>-->
<!--        <th></th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <div class="col">-->
<!--      <tr th:each="product : ${products}">-->
<!--        <td th:text="${product.id}"></td>-->
<!--        <td th:text="${product.name}"></td>-->
<!--        <td th:text="${product.price}"></td>-->
<!--        <td th:text="${product.image}"></td>-->
<!--        <td th:text="${product.category}"></td>-->
<!--        <td><a th:href="@{/edit/{id}(id=${product.id})}">Edit</a></td>-->
<!--        <td><a th:href="@{/delete/{id}(id=${product.id})}">Delete</a></td>-->
<!--      </tr>-->
<!--      </div>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->

<!--  <p><a th:href="@{/addnewproduct}">Add a new product</a></p>-->
<!--  <p><a href="/logout">Logout</a></p>-->

<!--</div>-->


<!--</div>-->
<!--</div>-->
<!--<div class="col">-->
<!--  <div class="card shadow-sm">-->
<!--    <img class="bd-placeholder-img card-img-top" width="50%" height="270" src="img/'. $product["image"] . ' "  > </img>-->
<!--    <div class="card-body">-->
<!--      <p class="card-text">' . $product["name"] . ' </p>-->
<!--      <div class="d-flex justify-content-between align-items-center">-->
<!--        <div class="btn-group">-->
<!--          <button type="button" class="btn btn-sm btn-outline-secondary">ADD</button>-->
<!--        </div>-->
<!--        <small class="text-muted">' . $product["pr_price"] . "$" . '</small>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<footer id  ="footer">
  <div class="container">
    <div class="cols">
      <div class="col">
        <h3>frequently asked questions</h3>
        <ul>
          <li><a href="#"> </a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"> </a></li>
        </ul>
      </div>
      <div class="col media">
        <h3>social network</h3>
        <ul class="social">
          <li><a href="https://instagram.com/asyljewelery?igshid=YmMyMTA2M2Y="><img src="https://img.icons8.com/color/344/instagram-new--v1.png" heigh="28px" width="24px"></img> Instagram</a></li>
          <li><a href="https://wa.me/+77759812774"><img src="https://img.icons8.com/color/344/whatsapp--v1.png" heigh="28px" width="24px"></img> WhatsApp</a></li>
          <li><a href="https://t.me/kaiyrkenovna"><img src="https://img.icons8.com/color/344/telegram-app--v1.png" heigh="28px" width="24px" ></img> Telegram</a></li>
          <li><a href="#"><img src="https://img.icons8.com/color/344/facebook-new.png" heigh="28px" width="24px" ></img> Facebook</a></li>
        </ul>
      </div>
      <div class="col contact">
        <h3>kontaktıler</h3>
        <p><img src="https://img.icons8.com/fluency/344/phone-office.png" heigh="28px" width="24px"></img> +775 981 27 74</p>
        <p><a href="#"><img src="https://img.icons8.com/fluency/344/important-mail.png" heigh="28px" width="24px"></img> contact@asyljewelry.com</a></p>
        <p>Asyl Jewellery INC.<br>Zhandosova 55,<br>Almaty-Kazakhstan</p>

      </div>
      <div class="col newsletter">
        <h3>To get more information, subscribe to our newsletter</h3>
        <form action="#">
          <input type="text" placeholder="Your email address...">
          <button type="submit"></button>
        </form>
      </div>
    </div>
    <p class="copy"> 2022 Asyl Jewelry. All rights reserved.</p>
  </div>
</footer>
<!--<div>th:insert="footer :: footer"</div>-->
</body>
</html>