<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Create an account</title>
  <link rel="stylesheet" href="../css/register.css">

</head>

<body>
<div class="container">

  <form method="POST" class="login-email" th:object="${userForm}" th:action="@{/registration}">
    <h2 class="login-text">Registration</h2>

    <div class="input-group">
      <input type="text" th:field="*{name}" class="form-control" placeholder="Name" autofocus="true">
      <span class="has-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>

    <div class="input-group">
      <input type="text" th:field="*{surname}" class="form-control" placeholder="Surname">
      <span class="has-error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>

    </div>

    <div class="input-group">
      <input type="text" th:field="*{email}" class="form-control" placeholder="Email">
      <span class="has-error"  th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

    </div>

    <div class="input-group">
      <input type="text" th:field="*{username}" class="form-control" placeholder="Username">
      <span class="has-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
    </div>

    <div class="input-group">
      <input type="password" th:field="*{password}" class="form-control" placeholder="Password">
      <span class="has-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    </div>

    <div class="input-group">
      <input type="password" th:field="*{passwordConfirm}" class="form-control"
             placeholder="Confirm your password">
      <span class="has-error" th:if="${#fields.hasErrors('passwordConfirm')}"
            th:errors="*{passwordConfirm}"></span>
    </div>
<div class="input-group">
    <button class="btn" type="submit">Submit</button>
</div>
    <p class="login-register-text">Have an account? <a href="/login">Login here</a></p>


  </form>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>
</html>
