<div th: fragment=footer">
    <footer id  ="footer">
    <div class="container">
        <div class="cols">
            <div class="col">
                <h3>frequently asked questions</h3>
                <ul>
                    <li><a href="#"> </a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"> </a></li>
                </ul>
            </div>
            <div class="col media">
                <h3>social network</h3>
                <ul class="social">
                    <li><a href="https://instagram.com/asyljewelery?igshid=YmMyMTA2M2Y="><img src="https://img.icons8.com/color/344/instagram-new--v1.png" heigh="28px" width="24px"></img> Instagram</a></li>
                    <li><a href="https://wa.me/+77759812774"><img src="https://img.icons8.com/color/344/whatsapp--v1.png" heigh="28px" width="24px"></img> WhatsApp</a></li>
                    <li><a href="https://t.me/kaiyrkenovna"><img src="https://img.icons8.com/color/344/telegram-app--v1.png" heigh="28px" width="24px" ></img> Telegram</a></li>
                    <li><a href="#"><img src="https://img.icons8.com/color/344/facebook-new.png" heigh="28px" width="24px" ></img> Facebook</a></li>
                </ul>
            </div>
            <div class="col contact">
                <h3>kontaktıler</h3>
                <p><img src="https://img.icons8.com/fluency/344/phone-office.png" heigh="28px" width="24px"></img> +775 981 27 74</p>
                <p><a href="#"><img src="https://img.icons8.com/fluency/344/important-mail.png" heigh="28px" width="24px"></img> contact@asyljewelry.com</a></p>
                <p>Asyl Jewellery INC.<br>Zhandosova 55,<br>Almaty-Kazakhstan</p>

            </div>
            <div class="col newsletter">
                <h3>To get more information, subscribe to our newsletter</h3>
                <form action="#">
                    <input type="text" placeholder="Your email address...">
                    <button type="submit"></button>
                </form>
            </div>
        </div>
        <p class="copy"> 2022 Asyl Jewelry. All rights reserved.</p>
    </div>
    </footer>
</div>