<div th:fragment="header">
    <nav id="menu">
        <div class="container">
            <div class="trigger">
                <ul>
                    <li><a th:href="@{/login}">HOME</a></li>
                    <li><a th:href="@{/products}">NEW COLLECTION</a></li>
                    <li><a th:href="@{/products}">ABOUT US</a></li>
                    <li><a th:href="@{/products}">NEWS                                  </a></li>
                    <li><a th:href="@{/products}">           CARD</a></li>
                    <li><a th:href="@{/products}">ACCOUNT</a></li>
                    <li><a th:href="@{/logout}">LOGOUT</a></li>

                </ul>
            </div>
        </div>
    </nav>
</div>