<div th:fragment="menu">
<nav id="menu">
    <div class="container">
        <div class="trigger">
            <ul>
                <li><a href="/login">HOME</a></li>
                <li><a th:href="@{/products}">NEW COLLECTION</a></li>
                <li><a href="/product">BRACELETS</a></li>
                <li><a href="/">EARRINGS</a></li>
                <li><a href="/">RINGS</a></li>
                <li><a href="/">COLLECTION</a></li>
            </ul>
        </div>
    </div>
</nav>
</div>